{%extends 'base.html'%}

{%block style_block%}

<style>
  table{
    box-shadow: 5px 5px 10px black ;
    margin-top: 250PX;
    border-radius: 10px ;
    overflow: hidden;
  }
  th,td{
    border: 1px double black;
    text-align: justify;
  }
  body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #ffffff 1%, #E0C3FC 92%);
background-attachment: fixed;;
  }

</style>
  
{%endblock%}


{%block main_block%}
<div>

<table align="center" style="width: 800px;"  border="1px ">
  <tr height="60px"  style="background-color: cadetblue;">
    <th>TITLE</th>
    <th>TYPE</th>
    <th>CATEGORY</th>
    <th>CREATED DATE</th>
    <th>AMOUNT</th>
   
  </tr>
  <tr height="60px">
    <td>{{data.title}}</td>
    <td>{{data.type}}</td>
    <td>{{data.category}}</td>
    <td>{{data.created_date}}</td>
    <td>{{data.amount}}</td>
  </tr>
</table>
</div>
{%endblock%}